* {
  margin: 0;
  padding: 0;
}

/* Default styles for small to medium screens */
body {
  font-size: 16px;
  padding: 0px;
}

/* Media query for large screens */
@media only screen and (min-width: 1200px) {
  body {
    font-size: 18px;
    padding: 0px;
  }
}

/* Media query for extra-large screens */
@media only screen and (min-width: 1600px) {
  body {
    font-size: 20px;
    padding: 60px;
  }
}

/* Define the hover effect for the body */
/* Define the hover effect for paragraphs and headings */
/* p:hover, h1:hover, h2:hover, h3:hover, h4:hover, h5:hover {
  color: #00ffe1; 
  transition: color 0.3s ease; 
} */

/* Define the hover effect for the lightbulb icon */
.bulb:hover {
  color: gold; /* Change icon color to red on hover */
  transition: color 0.3s ease; /* Smooth transition effect */
}
.bulbtext:hover{
  color: red;
  transition: color 0.3s ease;
}


